body {
    background: rgb(214,162,39);
    background: linear-gradient(90deg, rgba(138, 8, 92, 0.76) 4%, rgba(255,188,0,1) 30%,rgba(255,188,0,1) 70%, rgba(138, 8, 92, 0.76) 96%);
}
.card-body{
    background-color: rgb(173, 36, 125);
    color: rgb(252, 182, 19);
}
.card-title {
    font-size: 24px;
}
.homePage {
    font-size: 100px;
    margin-top: 100px;
}
.clock {
    font-size: 50px;
}
textarea {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid black;
    height: 42px;
    width: 100%;
    min-width: 200px;
    color: rgb(138, 8, 92);
    padding-left: 15px;
    padding-top: 10px;
    // padding-top: 12px;
    // padding-bottom: 5px;
    font-size: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(138, 8, 92);
  opacity: 1; /* Firefox */
}
li {
    display: flex;
    justify-content: space-between;
    color: rgb(138, 8, 92);
}



.deleteX {
    /* margin-left: 5px; */
    cursor: pointer;
    font-size: 32px;
    // margin: auto;
    // margin-top: -5px;
    // padding-left: 10px;
    // padding-right: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: -10px;

}
.container {
    max-width: 30%;
    min-width: 300px;
    margin: auto;
    // border: 1px solid black;
}

.header {
    font-size: 65px;
    background: -webkit-linear-gradient(rgb(28, 83, 56), rgb(133, 47, 126));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.myButton {
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    // margin-top: -10px;
    // position: relative;
}

/* dont touch the code below this line
//
//
//
//
//
//
//
//
//
//



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

ol, ul {
	list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}